$white: #ffffff;
$transparent: rgba(0,0,0,0.0);
$theme-blue: #011b33;
$admin-form-blue: rgb(3, 37, 68);
$cool-Blue: #032442;
$cool-Blue-Border: 1px solid $cool-Blue;
$faint-blue-border: 1px solid #012d4c;


html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background-color: $theme-blue;
  color: $white;
  font: sans-serif;
}

#sidenav-overlay {
   background-color: $transparent;
}

nav {
  box-shadow: none;
}

.no-shadow {
    box-shadow: none !important;
}

.nav-wrapper {
  padding-left: 20px;

  li.active {
    border-bottom: 4px solid blue;
  }

  a:hover {
    border-width: 100%;
    border-bottom: 4px solid blue;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s ease-out;
  }
}

.brand-logo {
  margin-left: 15px;
}

.side-nav {
    background-color: $theme-blue;
    color: $white;
    font: sans-serif;
    width: calc(100vw - 40%);

  a {
    color: $white !important;
  }
}


header {
  border-bottom: $cool-Blue-Border;
}

main {
    padding: 20px 0;
}

.landing {
  padding-top: 25vh;
  margin: 0;
  width: 100%;
  height: auto;

  a {
    margin: 10px;
  }
}

@media only screen and (min-width: 601px) {
  .welcome {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 601px) {
  .account {
    margin-top: 50px;
  }
}

.white-area {
  background-color: $white;
  color: #000000;
  min-height: 100vh;
}


.loading-wrapper {
  margin: 20px;
}

.profile-info {
  border-bottom: $cool-Blue-Border;
  padding: 20px 20px !important;
}

@media only screen and (min-width: 601px) {
  .borrowed {
    border-left: $cool-Blue-Border;
    border-right: $cool-Blue-Border;
    min-height: 100vh;
  }
}

// admin page styles
.admin-form {
  background-color: $admin-form-blue;
  padding: 20px !important;
  border-radius: 4px;
  margin-bottom: 30px;

  textarea {
    border-bottom: 1px solid $white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    resize: none;
  }
  .caret {
    color: $white !important;
  }
}

.admin-notification {
  border-bottom: $faint-blue-border;
  font-variant: small-caps;
  font-weight: 300;
}

@media only screen and (min-width: 993px) {
  .admin-container {
    width: 80%;
  }
}

#toast-container {
  left: 35px;
  right: auto !important;
  top: 10% !important;
}

@media only screen and (max-width: 601px) {
  #toast-container {
    top: 3rem !important;
    left: 0;
  }
}


.bold-text {
  font-weight: bold;
}

.book-detail {
  padding: 20px;
}

.action-btn {
  margin: 5px;
}
