$coolBlue: #032442;

$coolBlueBorder: 1px solid $coolBlue;


html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  background-color: #011b33;
  color: white;
  font: sans-serif;
}

#sidenav-overlay {
   background-color: rgba(0,0,0,0.0);
}

nav {
  box-shadow: none;
}

.no-shadow {
    box-shadow: none !important;
}

.nav-wrapper {
  padding-left: 20px;

  li.active {
    border-bottom: 4px solid blue;
  }

  a:hover {
    border-width: 100%;
    border-bottom: 4px solid blue;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s ease-out;
  }
}

.brand-logo {
  margin-left: 15px;
}

.side-nav {
    background-color: #011b33;
    color: white;
    font: sans-serif;

  a {
    color: white !important;
  }
}


header {
  border-bottom: $coolBlueBorder;
}

main {
    padding-top: 20px;
}

.landing {
  padding-top: 25vh;
  margin: 0;
  width: 100%;
  height: auto;

  a {
    margin: 10px;
  }
}

@media only screen and (min-width: 601px) {
  .welcome {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 601px) {
  .account {
    margin-top: 50px;
  }
}

.white-area {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
}


.loading-wrapper {
  margin: 20px;
}

.profile-info {
  border-bottom: $coolBlueBorder;
  padding: 20px 20px !important;
}

@media only screen and (min-width: 601px) {
  .borrowed {
    border-left: $coolBlueBorder;
    border-right: $coolBlueBorder;
    min-height: 100vh;
  }
}

// admin page styles
.admin-form {
  background-color: rgb(3, 37, 68);
  padding: 20px !important;
  border-radius: 4px;

  textarea {
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
  }
}

#toast-container {
    top: auto !important;
    right: auto !important;
    top: 10% !important;
    left: 35px;
}

@media only screen and (max-width: 601px) {
  #toast-container {
    top: 3rem !important;
    left: 0px;
  }
}


.bold-text {
  font-weight: bold;
}
