<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="./css/materialize.min.css" rel="stylesheet" type="text/css">
        <link href="./css/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="./js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>

        </script>
        <title>Hello Books</title>
    </head>
    <body>
        <header>
          <nav class="transparent">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo left"><i class="material-icons">book</i>Hello Books</a>
              <ul class="right hide-on-small-and-down">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="signup.html">Sign Up</a></li>
                  <li><a href="library.html">Library</a></li>
              </ul>
              <ul id="slide-out" class="side-nav">
                <<li class="active"><a href="index.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="library.html">Library</a></li>
              </ul>
            <a href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up right"><i class="material-icons">more_vert</i></a>
            </div>
          </nav>
        </header>
        <main>
            <div class="row">
                <div class="container">
                    <section class="center landing">
                        <div class="">
                            <h1>Welcome to Hello Books</h1>
                        </div>
                        <div class="">
                            <a href="./login.html" class="btn">login</a>
                            <a href="./signup.html" class="btn">signup</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </body>
</html>
