<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="./css/materialize.min.css" rel="stylesheet" type="text/css">
        <link href="./css/style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="./js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="./js/materialize.min.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>

        </script>
        <title>Hello Books</title>
    </head>
    <body>
        <header>
          <nav class="transparent">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo left"><i class="material-icons">book</i>Hello Books</a>
              <ul class="right hide-on-small-and-down">
                  <li><a href="library.html">Library</a></li>
              </ul>
              <ul id="slide-out" class="side-nav">
                <li><a href="library.html">Library</a></li>
              </ul>
            <a href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up right"><i class="material-icons">more_vert</i></a>
            </div>
          </nav>
        </header>
        <section class="account navy">
            <div class="row">
                <div class="container">
                    <div class="center">
                        <div class="col m6 welcome">
                            <h2>Hello Reader</h2>
                            <h6>Welcome home avid reader</h6>
                        </div>
                        <div class="col m6">
                            <form class="" action="index.html" method="post">
                                <div class="col s12">
                                    <h5>Sign Up</h5>
                                </div>
                                <div class="col s12">
                                    <div class="container">
                                        <div class="input-field">
                                            <input type="text" name="surname" placeholder="Surname">
                                        </div>
                                        <div class="input-field">
                                            <input type="text" name="firstname" placeholder="First Name">
                                        </div>
                                        <div class="input-field">
                                            <input type="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="input-field">
                                            <input type="text" name="username" placeholder="Username">
                                        </div>
                                        <div class="input-field">
                                            <input type="password" name="password" placeholder="password">
                                        </div>
                                        <div class="input-field">
                                            <input type="password" name="confirmPassword" placeholder="retype password">
                                        </div>
                                        <div class="input-field">
                                            <input type="submit" name="submit" value="submit" class="btn">
                                        </div>
                                        <div class="">
                                            <p>Already have an account?<a href="login.html"> Login Here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>
